* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::placeholder {
  color: aqua;
}
.flex {
  display: flex;
}
header {
  background-image: linear-gradient(rgb(106, 0, 255), rgb(186, 0, 248));
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  font-family: roboto;
  justify-content: space-around;
}
form {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 50px;
}
.type {
  text-align: center;
  gap: 150px;
  font-weight: 500;
  font-size: 25px;
  color: orange;
}
.compani {
  text-align: center;
  gap: 150px;
  font-weight: 500;
  font-size: 25px;
  color: orange;
}
.property {
  text-align: center;
  gap: 150px;
  font-weight: 500;
  font-size: 25px;
  color: orange;
}
input {
  width: 300px;
  height: 50px;
  background-color: transparent;
  border: 0px 0px 1px 0px;
  border-color: yellow;
  color: orange;
  text-align: center;
}
input:focus {
  border-bottom: 2px;
  border-color: rgb(15, 202, 15);
  outline: none;
}
select {
  width: 300px;
  height: 60px;
  background-color: transparent;
  border: 0px 0px 1px 0px;
  border-color: yellow;
  color: orange;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.add {
  cursor: pointer;
  border-color: greenyellow;
  font-weight: 700;
  font-size: 15px;
}
.add:hover {
  background-color: green;
  color: aqua;
  transition: 2s;
}
.preview {
  width: 500px;
  height: 600px;
  background-color: aqua;
  border-radius: 80px;
  text-align: center;
  display: none;
  margin-top: 50px;
}
h1 {
  padding-bottom: 60px;
}
span {
  color: orangered;
  font-weight: 700;
  font-size: 18px;
}
.typeText {
  color: rgb(21, 154, 21);
}

p {
  color: orange;
  font-weight: 700;
  font-size: 15px;
}
.visible {
  display: inline-block;
}
